.contentWrapper {
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 0 7px rgb(213, 213, 213);
  padding: 20px 19px 30px;
  border-radius: 10px;
  height: 548px;
  width: 348px;
}

.cardImage {
  width: 310px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin: 0;
  height: 223px;
}

.cardHeading {
  width: 305px;
  margin: 20px auto 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.cardAuthors {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  color: #009fac;
}

.cardParagraph {
  font-size: 14px;
  font-weight: 400;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 22px 20px 20px;
  background-color: #009fac;
  width: 100%;
  height: 70px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.cardFooter_button {
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  background-color: unset;
  border: none;
}

.cardFooter_heading {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.cardFooter_arrow {
  height: 18px;
  width: 18px;
  margin-left: 16px;
  background-image: url("../../img/publications/small_right_arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cardFooter_shareButton {
  background-color: unset;
  border: none;
  cursor: pointer;
  width: 21px;
  height: 22px;
  margin: 0 0 6px 66px;
  background-image: url("../../img/publications/share_logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cardFooter_socialListWrapper {
  position: absolute;
  box-sizing: border-box;
  padding: 17px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 7px rgb(229, 229, 229);
  height: 56px;
  width: 184px;
  border-radius: 8px;
  top: -62px;
  right: 3px;
  z-index: 10000000000;
}

.cardFooter_socialListWrapper::after {
  content: "";
  border: 7.5px solid transparent;
  border-top: 7.5px solid rgb(255, 255, 255);
  position: absolute;
  bottom: -15.5px;
  right: 23px;
}

.cardFooter_socialList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}

.cardFooter_socialLogo {
  width: 22px;
  height: 22px;
}

.cardFooter_socialLogo__vk {
  background-image: url("../../img/publications/vk_icon.svg");
}

.cardFooter_socialLogo__yt {
  background-image: url("../../img/publications/yt_icon.svg");
}

.cardFooter_socialLogo__tg {
  background-image: url("../../img/publications/telegram_icon.svg");
}
