.CognitiveTechnologies{
    margin: -80px 0 0 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    z-index: 10;
}

.Background {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.Title{
    margin: 172px 165px 0 auto;
    padding: 0;
    color: white;
    font-weight: 400;
    font-size: 54px;
    line-height: 68px;
    max-width: 445px;
    z-index: 5;
    }

.BoldText{
    margin: 0;
    padding: 0;
    font-weight: 700;
    z-index: 5;    
}

.Subtitle{
    margin: 12px 165px 50px auto;
    padding: 0;
    color: white;
    max-width: 445px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    z-index: 5;
}

.Button{
    margin: 0 260px 124px 0;
    padding: 16px;
    width: 350px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    background: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: white;
    z-index: 5;
}

.Button:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* длинна блока "о нас" 1 262 + по 5микс с каждой стороны минимально допустимые отступы после которых меняется конструкция = 1 272*/
@media screen and (max-width: 1272px) { 
    .Background{
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .Title {
        margin: 120px auto 12px 39px;
    }
    .Subtitle {
        margin: 0 auto 40px 39px;
        font-size: 18px;
        max-width: 400px;
    }
    .Button {
        margin: 0 auto 120px 39px;
        font-size: 18px;
    }
  }

@media screen and (max-width: 700px) {
    .CognitiveTechnologies{
        max-width: 700px;
        min-width: 320px;
    }
    .Background{
        scale: 120%;
    }
    .Title {
        margin: 74px auto 16px 16px;
        font-size: 32px;
        line-height: 43.58px;
        max-width: 256px;
    }
    .Subtitle {
        margin: 0 auto 50px 16px;
        font-size: 18px;
        max-width: 400px;
        font-size: 14px;
        line-height: 19.07px;
        max-width: 288px;
    }
    .Button {
        margin: 0 auto 60px 16px;
        padding: 12.5px 16px 12.5px 16px;
        font-size: 18px;
        font-size: 14px;
        line-height: 19.07px;
        width: 288px;
        height: 44px;
    }
  }